.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header .text-img {
    margin-top: 12.0rem;
    display: flex;
}

header .text-img  h1{
    width: 52.6rem;
    height: 14.6rem;

    font-weight: 700;
    font-size: 5.6rem;
    line-height: 130%;
}

header .text-img  p {
    width: 41.6rem;
    height: 8.1rem;

    margin-top: 3.2rem;

    /* large/regular */
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;

    opacity: 0.7;
}

header .tabs {
    display: flex;
    align-items: flex-start;
    margin: 2.4rem 0;
    gap: 1.2rem;
}

header .tabs button {
    padding: .8rem 1.6rem;
    border-radius: .8rem;
    font-weight: 400;
    font-size: 1.6rem;
}

header .tabs #new {
    color: #fff;
    background: rgba(255, 255, 255, 0.04);

    /* shadow/large */
    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);

    line-height: 150%;
}

header .tabs #used {
    width: 8.0rem;
    background: rgba(255, 255, 255, 0.04);
}

header .tabs #new:hover,
header .tabs #used:hover {
    color: #FD5631;
    background: #fff;
    transition: .500;
}

header .header__input-group .form {
    width: 100%;
    padding: .8rem 0;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header__input-group .form-item {
    width: 16.2rem;
    margin: .8rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 3.5rem;
}

header .header__input-group #submit {
    width: 14.2rem;
    height: 5.2rem;
    background: #FD5631;
    border-radius: .8rem;
    opacity: 1;
    border: none;
    margin-right: .8rem;
}

header .header__input-group #submit:hover {
    background: #7d3833;
} 

header .header__input-group .search-label::before{
    content: " ";
    width: 1.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(/assets/img/header/search.svg);
    background-repeat: no-repeat;
    padding: 0 1.0rem;
    position: absolute;
    background-position: center;
}

header .header__input-group .make-label::before{
    content: " ";
    width: 1.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(/assets/img/header/star.svg);
    background-repeat: no-repeat;
    padding: 0 1.0rem;
    position: absolute;
    background-position: center;
}

header .header__input-group .model-label::before{
    content: " ";
    width: 1.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(/assets/img/header/list.svg);
    background-repeat: no-repeat;
    padding: 0 1.0rem;
    position: absolute;
    background-position: center;
}

header .header__input-group .type-label::before{
    content: " ";
    width: 1.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(/assets/img/header/car.svg);
    background-repeat: no-repeat;
    padding: 0 1.0rem;
    position: absolute;
    background-position: center;
}

header .header__input-group .location-label::before{
    content: " ";
    width: 1.5rem;
    height: 3.5rem;
    display: inline-block;
    background: url(/assets/img/header/pin.svg);
    background-repeat: no-repeat;
    padding: 0 1.0rem;
    position: absolute;
    background-position: center;
}

header .header__input-group .form-label:nth-child(-n+4)::after {
    content: " ";
    width: .2rem;
    height: 4.0rem;
    display: inline-block;
    background: #6f6d6f;
    position: absolute;
}

header .header__input-group .option-response {
    color: #93919a;
}

@media screen and (max-width: 600px) {
    header .text-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header .text-img h1 {
        width: 100%;
        height: 10rem; 
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 130%;
    }
    
    header .text-img p {
        width: 100%;
        height: 5rem; 
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: 0.7;
    }

    header .text-img #orange-car {
        height: auto;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 820px) {
    header .header__input-group .form {
        flex-direction: column;
        gap: 2.0rem;
    }

    header .header__input-group .form-label, 
    header .header__input-group .form-item {
        width: 95%;
    }

    header .header__input-group .form-label:nth-child(-n+4)::after {
        display: none;
    }
}
