/* Types */
.types {
    display: flex;
    flex-direction: column;

    max-width: 129.6rem;
    width: 100%;
    height: 41.2rem;
}

/* types-top */
.types .types-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
}

/* Mais procurados */
.types h2 {
    width: 23.2rem;
    height: 3.6rem;

    display: flex;
    align-items: center;

    /* Font */
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 130%;
}

/* view-all */
.types .view-all {
    width: 10.0rem;
    height: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0.7;
}

/* Ver todos */
.types .types-top .view-all p {
    width: 7.2rem;
    height: 2.4rem;

    /* Font*/
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

.types .types-car--itens {
    display: flex;
    align-items: center;
    text-align: center;
}

.types .types-car .teste-itens {
    display: flex;
}

.types .types-car .item-filho {
    padding-bottom: 40px;
}

.types .types-car .types-car--itens .item .item-filho:hover {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 1.2rem;
}

@media screen and (max-width: 500px) {
    .types .types-car--itens {
        flex-direction: column;
    }

    .types .types-car--itens .item {
        display: flex;
    }

}